@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-family: "Montserrat Alternates", sans-serif;
  /* COLORS */
  --primary-green: #239b56;
  --light-green: rgba(35, 155, 86, 0.15);
  --secondary-blue: #5DADE2;
  --secondary-cyan: #A3E4D7;
  --secondary-orange: #F8C471;
  --white: #FFFFFF;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--white);
}

a {
  text-decoration: none;
}